@model IEnumerable<TravPense.Models.Destination>

@{
    ViewData["Title"] = "UserView";
}

<h2>UserView</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationName)
            </td>
        </tr>
}
    </tbody>
</table>
