@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (!SignInManager.IsSignedIn(User))
{
    <div class="zoom1">
        <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </div>
    <div class="zoom1">
        <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}
else
{
    <h1>welcome</h1>
}