
@{
    ViewData["Title"] = "Home Page";
}

<h1><a asp-controller="Category" asp-action="Index">Visit Places</a></h1>

<style>
    h1{
        text-align:center;
        color:teal;
        margin-top:200px;
    }
</style>